<%= render "admin/shared/bread_crumb", name: {title: "Teaching mass", bread_crumb: "Top"} %>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Manage teaching mass</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Content</th>
                  <th>Display</th>
                  <th>Display Order</th>
                  <th>Created at</th>
                  <th>Updated at</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @teaching_masses.each do |teaching_mass| %>
                  <tr>
                    <td><%= teaching_mass&.name || "-" %></td>
                    <td><%= teaching_mass&.content || "-"  %></td>
                    <td><%= teaching_mass&.display || "-"  %></td>
                    <td><%= teaching_mass&.display_order || "-"  %></td>
                    <td><%= teaching_mass&.created_at || "-"  %></td>
                    <td><%= teaching_mass&.updated_at || "-"  %></td>
                    <td>
                      <% unless teaching_mass.blank? %>
                        <%= link_to "Edit", edit_admin_teaching_mass_path(teaching_mass), class: "btn btn-success" %>
                        <%= link_to "Delete", admin_teaching_mass_path(teaching_mass), method: :delete, class: "btn btn-danger" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<section class="section-btn-group">
  <div class="section-btn-group-wrap">
    <%= link_to "Create", new_admin_teaching_mass_path, class: "btn btn-info" %>
  </div>
</section>
