<%= render "admin/shared/bread_crumb", name: {title: "Memorial book", bread_crumb: "Top"} %>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Manage memorial book</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Display</th>
                  <th>Main article</th>
                  <th>Created at</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @memorial_books.each do |memorial_book| %>
                  <tr>
                    <td><%= link_to memorial_book&.name, memorial_book&.name_link %></td>
                    <td><%= memorial_book&.display ? "Yes" : "No"  %></td>
                    <td><%= memorial_book&.is_main_article ? "Yes" : "No"  %></td>
                    <td><%= memorial_book&.created_at || "-"  %></td>
                    <td>
                      <% unless memorial_book.blank? %>
                        <%= link_to "Show", admin_memorial_book_path(memorial_book), class: "btn btn-primary" %>
                        <%= link_to "Edit", edit_admin_memorial_book_path(memorial_book), class: "btn btn-success" %>
                        <%= link_to "Delete", admin_memorial_book_path(memorial_book), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<section class="section-btn-group">
  <div class="section-btn-group-wrap">
    <%= link_to "Create", new_admin_memorial_book_path, class: "btn btn-info" %>
  </div>
</section>
