<%= render "admin/shared/bread_crumb", name: {title: "Show lector", bread_crumb: "Show"} %>
<section class="content">
  <div class="container-fluid">
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <% if @is_main_article %>
            <th>Content</th>
          <% end %>
          <% if !@is_main_article && @lector.file_image.present? %>
            <th>Link image</th>
          <% end %>
          <% if !@is_main_article && @lector.file_pdf.present? %>
            <th>Link pdf</th>
          <% end %>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @lector&.name || "-" %></td>
          <% if @is_main_article %>
            <td><%= @lector&.content&.html_safe || "-"  %></td>
          <% end %>
          <% if !@is_main_article && @lector.file_image.present? %>
            <td><%= link_to 'download', rails_blob_path(@lector.file_image, disposition: "download"), target: "_blank" %></td>
          <% end %>
          <% if !@is_main_article && @lector.file_pdf.present? %>
            <td><%= link_to 'download', rails_blob_path(@lector.file_pdf, disposition: "download"), target: "_blank"  %></td>
          <% end %>
          <td>
            <% unless @lector.blank? %>
              <%= link_to "Edit", edit_admin_lector_path(@lector), class: "btn btn-success" %>
              <%= link_to "Delete", admin_lector_path(@lector), method: :delete, class: "btn btn-danger" %>
              <%= link_to "Back", admin_lector_index_path, class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
