<%= render "admin/shared/bread_crumb", name: {title: "Edit Eucharistic Miracles & Marian Apparitions & Saint Videos", bread_crumb: "Edit"} %>
<%= form_with model: @eucharistic_saint_video, url: admin_eucharistic_saint_video_path(@eucharistic_saint_video), method: :patch do |form| %>
  <section class="content">
    <div class="container-fluid">
      <%= render "admin/shared_form/form", form: form, item: @eucharistic_saint_video, title_name: "Update Eucharistic Miracles & Marian Apparitions & Saint Videos" %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="section-btn-group-wrap">
      <%= link_to "Back", admin_eucharistic_saint_video_index_path, class: "btn btn-info" %>
      <%= form.submit "Update", class: "btn btn-success", id: "id_submit" %>
    </div>
  </section>
<% end %>
