<%= render "admin/shared/bread_crumb", name: {title: "Edit altar society", bread_crumb: "Edit"} %>
<%= form_with model: @children_liturgy, url: admin_children_liturgy_path(@children_liturgy), method: :patch do |form| %>
  <section class="content">
    <div class="container-fluid">
      <%= render "admin/shared_form/form", form: form, item: @children_liturgy, title_name: "Update staff" %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="section-btn-group-wrap">
      <%= link_to "Back", admin_children_liturgy_index_path, class: "btn btn-info" %>
      <%= form.submit "Update", class: "btn btn-success", id: "id_submit" %>
    </div>
  </section>
<% end %>
