<%= render "admin/shared/bread_crumb", name: {title: "Holyorder", bread_crumb: "Top"} %>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Manage holyorder</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Display</th>
                  <th>Main article</th>
                  <th>Created at</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @holyorders.each do |holyorder| %>
                  <tr>
                    <td><%= holyorder&.name || "-" %></td>
                    <td><%= holyorder&.content&.html_safe || "-"  %></td>
                    <td><%= holyorder&.display || "-"  %></td>
                    <td><%= holyorder&.display_order || "-"  %></td>
                    <td><%= holyorder&.created_at || "-"  %></td>
                    <td><%= holyorder&.updated_at || "-"  %></td>
                    <td>
                      <% unless holyorder.blank? %>
                        <%= link_to "Edit", edit_admin_holyorder_path(holyorder), class: "btn btn-success" %>
                        <%= link_to "Delete", admin_holyorder_path(holyorder), method: :delete, class: "btn btn-danger" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<section class="section-btn-group">
  <div class="section-btn-group-wrap">
    <%= link_to "Create", new_admin_holyorder_path, class: "btn btn-info" %>
  </div>
</section>
