<%= render "admin/shared/bread_crumb", name: {title: "Show holyorder", bread_crumb: "Show"} %>
<section class="content">
  <div class="container-fluid">
    <table id="example2" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <% if @is_main_article %>
            <th>Content</th>
          <% end %>
          <% if !@is_main_article && @holyorder.file_image.present? %>
            <th>Link image</th>
          <% end %>
          <% if !@is_main_article && @holyorder.file_pdf.present? %>
            <th>Link pdf</th>
          <% end %>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @holyorder&.name || "-" %></td>
          <% if @is_main_article %>
            <td><%= @holyorder&.content&.html_safe || "-"  %></td>
          <% end %>
          <% if !@is_main_article && @holyorder.file_image.present? %>
            <td><%= link_to 'download', rails_blob_path(@holyorder.file_image, disposition: "download"), target: "_blank" %></td>
          <% end %>
          <% if !@is_main_article && @holyorder.file_pdf.present? %>
            <td><%= link_to 'download', rails_blob_path(@holyorder.file_pdf, disposition: "download"), target: "_blank"  %></td>
          <% end %>
          <td>
            <% unless @holyorder.blank? %>
              <%= link_to "Edit", edit_admin_holyorder_path(@holyorder), class: "btn btn-success" %>
              <%= link_to "Delete", admin_holyorder_path(@holyorder), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
              <%= link_to "Back", admin_holyorder_index_path, class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
