<%= render "admin/shared/bread_crumb", name: {title: "Create deacon", bread_crumb: "New"} %>
<%= form_with model: @deacon, url: admin_deacon_index_path do |form| %>
  <section class="content">
    <div class="container-fluid">
      <%= render "admin/shared_form/form1", form: form, item: @deacon, title_name: "Create deacon" %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="section-btn-group-wrap">
      <%= link_to "Back", admin_deacon_index_path, class: "btn btn-info" %>
      <%= form.submit "Create", class: "btn btn-success", id: "id_submit" %>
    </div>
  </section>
<% end %>
