<% cache @introduction do %>
  <div id="headerBackground">
    <div id="navBackground"></div>
    <header id="header" class="headerTextOff smallMegaMenu quickLinksOn socialMediaOn searchOn">
      <div id="mobileIndicator"></div>
      <div id="siteWidthIndicator"></div>
      <div id="mobileNavBar">
        <a id="navicon" href="#menu">|||</a>
      </div>
      <div id="siteLogo" class="moduleContainer logoOnly custom-logo-header">
        <div class="moduleInner ">
          <div id="siteLogoBody">
            <%= image_tag(@introduction&.header_logo_icon.present? ? @introduction&.header_logo_icon : "no_available.png", style: "left:0px;top:0px;width:100%;height:100%;border-radius: 10px;", alt: "Saint John the Evangelist Catholic Church Boca Raton") %>
          </div>
        </div>
      </div>
      <nav id="quickLinks" class="moduleContainer">
        <div class="moduleInner ">
          <ul>
            <li id="quickLink_330450">
              <%= link_to "Bulletin", bulletin_path %>
            </li>
            <li id="quickLink_249">
              <%= link_to "Contact Us", contact_path %>
            </li>
            <li id="quickLink_583524">
              <%= link_to "Photo Gallery", photo_gallery_path %>
            </li>
          </ul>
        </div>
      </nav>
      <div id="socialMedia" class="moduleContainer">
        <div class="moduleInner ">
          <div id="socialMediaBody">
            <%= link_to "", "", class: "custom1SocialMedia" %>
            <%= link_to "Facebook", @introduction&.facebook_channel, class: "facebookSocialMedia", target: "_blank" %>
            <%= link_to "YouTube", @introduction&.youtube_channel_url, class: "youtubeSocialMedia", target: "_blank" %>
          </div>
        </div>
      </div>
      <div id="search" class="moduleContainer searchContainer">
        <label for="searchField" style="display: none;">Search</label>
        <input id="searchField" class="searchBox" placeholder="Search" />
        <span id="searchSubmit" class="searchBoxSubmit"></span>
      </div>
      <div id="searchPopup">Search</div>
      <nav id="nav" class="moduleContainer normal resize">
        <ul>
          <li id="nav1" class="navPage navElement selected subMenu">
            <a href="/">
              <span>Home</span>
            </a>
          </li>
          <li id="nav2" class="navPage navElement subMenu megaMenu">
            <a href="#">
              <span>About Us</span>
            </a>
            <ul class="secondLevel">
              <li id="nav428693" class="navGroup navElement">
                <span class="groupName">Who We Are</span>
                <ul class="secondLevel">
                  <li id="nav165382" class="navPage navElement">
                    <a href="/welcome">
                      <span>Welcome</span>
                    </a>
                  </li>
                  <li id="nav427094" class="navPage navElement">
                    <a href="/clergy">
                      <span>Our Clergy</span>
                    </a>
                  </li>
                  <li id="nav162530" class="navPage navElement">
                    <a href="/deacon">
                      <span>Our Deacons</span>
                    </a>
                  </li>
                  <li id="nav291" class="navPage navElement">
                    <a href="/staff">
                      <span>Our Staff</span>
                    </a>
                  </li>
                  <li id="nav163968" class="navPage navElement">
                    <a href="/council">
                      <span>Our Councils</span>
                    </a>
                  </li>
                  <li id="nav249" class="navPage navElement">
                    <%= link_to "Contact Us", contact_path %>
                  </li>
                </ul>
              </li>
              <li id="nav428692" class="navGroup navElement">
                <span class="groupName">Our Parish</span>
                <ul class="secondLevel">
                  <li id="nav161145" class="navPage navElement">
                    <a href="/history_church">
                      <span>History</span>
                    </a>
                  </li>
                  <li id="nav427093" class="navPage navElement">
                    <a href="/environment_church">
                      <span>Safe Environment</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="nav162138" class="navPage navElement subMenu">
            <a href="#">
              <span>Worship</span>
            </a>
            <ul class="secondLevel">
              <li id="nav163402" class="navGroup navElement">
                <span class="groupName">Liturgical Ministries</span>
                <ul class="secondLevel">
                  <li id="nav505201" class="navPage navElement">
                    <%= link_to teaching_mass_path do %>
                      <span>Teaching Mass</span>
                    <% end %>
                  </li>
                  <li id="nav162139" class="navPage navElement">
                    <%= link_to altar_server_path do %>
                      <span>Altar Servers</span>
                    <% end %>
                  </li>
                  <li id="nav428108" class="navPage navElement">
                    <%= link_to altar_society_path do %>
                      <span>Altar Society</span>
                    <% end %>
                  </li>
                  <li id="nav163415" class="navPage navElement">
                    <%= link_to children_liturgy_path do %>
                      <span>Children's Liturgy</span>
                    <% end %>
                  </li>
                  <li id="nav162141" class="navPage navElement">
                    <%= link_to ecuharistic_ministry_path do %>
                      <span>Eucharistic Ministry</span>
                    <% end %>
                  </li>
                  <li id="nav161143" class="navPage navElement">
                    <%= link_to funeral_path do %>
                      <span>Funeral and Memorial Services</span>
                    <% end %>
                  </li>
                  <li id="nav162140" class="navPage navElement">
                    <%= link_to lector_path do %>
                      <span>Lectors</span>
                    <% end %>
                  </li>
                  <li id="nav162142" class="navPage navElement">
                    <%= link_to music_ministry_path do %>
                      <span>Music Ministry</span>
                    <% end %>
                  </li>
                  <li id="nav162753" class="navPage navElement">
                    <%= link_to ushers_hospital_path do %>
                      <span>Ushers and Hospitality Ministries</span>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="nav351" class="navPage navElement subMenu">
            <a href="#">
              <span>Sacraments</span>
            </a>
            <ul class="secondLevel">
              <li class="navPageGroup">
                <ul>
                  <li id="nav161137" class="navPage navElement">
                    <%= link_to baptism_path do %>
                      <span>Baptism</span>
                    <% end %>
                  </li>
                  <li id="nav161142" class="navPage navElement">
                    <%= link_to reconciliation_path do %>
                      <span>Penance</span>
                    <% end %>
                  </li>
                  <li id="nav161135" class="navPage navElement">
                    <%= link_to eucharist_path do %>
                      <span>Eucharist</span>
                    <% end %>
                  </li>
                  <li id="nav161141" class="navPage navElement">
                    <%= link_to confirmation_path do %>
                      <span>Confirmation</span>
                    <% end %>
                  </li>
                  <li id="nav161140" class="navPage navElement">
                    <%= link_to marriage_path do %>
                      <span>Marriage</span>
                    <% end %>
                  </li>
                  <li id="nav161139" class="navPage navElement">
                    <%= link_to holyorders_path do %>
                      <span>Holy Orders</span>
                    <% end %>
                  </li>
                  <li id="nav161144" class="navPage navElement">
                    <%= link_to anointing_path do %>
                      <span>Anointing Of The Sick</span>
                    <% end %>
                  </li>
                  <li id="nav427169" class="navPage navElement">
                    <%= link_to sacramental_path do %>
                      <span>Sacramental Certificates</span>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="nav355" class="navPage navElement subMenu">
            <a href="#">
              <span>Ministries & Organizations</span>
            </a>
            <ul class="secondLevel">
              <li class="navPageGroup">
                <ul>
                  <li id="nav161137" class="navPage navElement">
                    <%= link_to children_path do %>
                      <span>Children</span>
                    <% end %>
                  </li>
                  <li id="nav161142" class="navPage navElement">
                    <%= link_to youth_path do %>
                      <span>Youth</span>
                    <% end %>
                  </li>
                  <li id="nav161135" class="navPage navElement">
                    <%= link_to adult_path do %>
                      <span>Adult</span>
                    <% end %>
                  </li>
                  <li id="nav161135" class="navPage navElement">
                    <%= link_to respect_life_path do %>
                      <span>Respect life</span>
                    <% end %>
                  </li>
                  <li id="nav161135" class="navPage navElement">
                    <%= link_to memorial_book_path do %>
                      <span>Memorial Book</span>
                    <% end %>
                  </li>
                  <li id="nav161135" class="navPage navElement">
                    <%= link_to hospital_visit_path do %>
                      <span>Hospital Visits</span>
                    <% end %>
                  </li>
                  <li id="nav161135" class="navPage navElement">
                    <%= link_to haitian_prayer_path do %>
                      <span>Haitian Prayer Group “Coeur D’Accueil”</span>
                    <% end %>
                  </li>
                  <li id="nav161135" class="navPage navElement">
                    <%= link_to food_basket_path do %>
                      <span>Food Basket</span>
                    <% end %>
                  </li>
                  <li id="nav161135" class="navPage navElement">
                    <%= link_to art_craft_group_path do %>
                      <span>Arts & Crafts Group</span>
                    <% end %>
                  </li>
                  <li id="nav427823" class="navPage navElement">
                    <%= link_to player_group_path do %>
                      <span>Prayer Groups</span>
                    <% end %>
                  </li>
                  <li id="nav427823" class="navPage navElement">
                    <%= link_to women_grace_path do %>
                      <span>Women of Grace</span>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="nav161055" class="navPage navElement subMenu">
            <a href="#">
              <span>Prayer Garden</span>
            </a>
            <ul class="secondLevel">
              <li id="nav427239" class="navGroup navElement">
                <ul class="secondLevel">
                  <li id="nav161127" class="navPage navElement">
                    <%= link_to pray_garden_path do %>
                      <span>Engraved Brick</span>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="nav162372" class="navPage navElement subMenu">
            <a href="#">
              <span>Donate</span>
            </a>
            <ul class="secondLevel">
              <li class="navPageGroup">
                <ul>
                  <li id="nav444979" class="navLink navElement">
                    <%= link_to "Online Giving", "https://www.parishgiving.org/payment;id=80252EA406DA072C30F2CD372EF88A5C9E4A05EC9EBD5184", target: "_blank", rel: "noopener" %>
                  </li>
                  <li id="nav240575" class="navLink navElement">
                    <%= link_to "Planned Giving", planned_giving_path %>
                  </li>
                  <li id="nav240575" class="navLink navElement">
                    <%= link_to "Diocesan Service Appleal (DSA)", "https://donate.diocesepb.org/pages/dsa2021/donation-pledge-form", target: "_blank", rel: "noopener" %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </div>
<% end %>
