<div id="headerBackground">
  <div id="navBackground"></div>
  <header id="header" class="headerTextOff smallMegaMenu quickLinksOn socialMediaOn searchOn">
    <div id="mobileIndicator"></div>
    <div id="siteWidthIndicator"></div>
    <div id="mobileNavBar">
      <a id="navicon" href="#menu">|||</a>
    </div>
    <div id="siteLogo" class="moduleContainer logoOnly">
      <div class="moduleInner ">
        <div id="siteLogoBody">
          <%= image_tag(@introduction&.logo_icon || "no_available.png", style: "left:0px;top:0px;width:100%;height:100%;", alt: "Saint John the Evangelist Catholic Church Boca Raton") %>
        </div>
      </div>
    </div>
    <nav id="quickLinks" class="moduleContainer">
      <div class="moduleInner ">
        <ul>
          <li id="quickLink_330450">
            <%= link_to "Bulletin", bulletin_path %>
          </li>
          <li id="quickLink_249">
            <%= link_to "Contact Us", contact_path %>
          </li>
          <li id="quickLink_583524">
            <a href="#">Photo Gallery</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="socialMedia" class="moduleContainer">
      <div class="moduleInner ">
        <div id="socialMediaBody">
          <%= link_to "", "", class: "custom1SocialMedia" %>
          <%= link_to "Facebook", @introduction&.facebook_channel, class: "facebookSocialMedia", target: "_blank" %>
          <%= link_to "YouTube", @introduction&.youtube_channel_url, class: "youtubeSocialMedia", target: "_blank" %>
        </div>
      </div>
    </div>
    <div id="search" class="moduleContainer searchContainer">
      <label for="searchField" style="display: none;">Search</label>
      <input id="searchField" class="searchBox" placeholder="Search" />
      <span id="searchSubmit" class="searchBoxSubmit"></span>
    </div>
    <div id="searchPopup">Search</div>
    <nav id="nav" class="moduleContainer normal resize">
      <ul>
        <li id="nav1" class="navPage navElement selected subMenu">
          <a href="/">
            <span>Home</span>
          </a>
        </li>
        <li id="nav2" class="navPage navElement subMenu megaMenu">
          <a href="#">
            <span>About Us</span>
          </a>
          <ul class="secondLevel">
            <li id="nav428693" class="navGroup navElement">
              <span class="groupName">Who We Are</span>
              <ul class="secondLevel">
                <li id="nav165382" class="navPage navElement">
                  <a href="/welcome">
                    <span>Welcome</span>
                  </a>
                </li>
                <li id="nav427094" class="navPage navElement">
                  <a href="/clergy">
                    <span>Our Clergy</span>
                  </a>
                </li>
                <li id="nav162530" class="navPage navElement">
                  <a href="/deacon">
                    <span>Our Deacons</span>
                  </a>
                </li>
                <li id="nav291" class="navPage navElement">
                  <a href="/staff">
                    <span>Our Staff</span>
                  </a>
                </li>
                <li id="nav163968" class="navPage navElement">
                  <a href="/council">
                    <span>Our Councils</span>
                  </a>
                </li>
                <li id="nav249" class="navPage navElement">
                  <%= link_to "Contact Us", contact_path %>
                </li>
              </ul>
            </li>
            <li id="nav428692" class="navGroup navElement">
              <span class="groupName">Our Parish</span>
              <ul class="secondLevel">
                <li id="nav161145" class="navPage navElement">
                  <a href="/history_church">
                    <span>History</span>
                  </a>
                </li>
                <li id="nav427093" class="navPage navElement">
                  <a href="/environment_church">
                    <span>Safe Environment</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="nav162138" class="navPage navElement subMenu">
          <a href="#">
            <span>Worship</span>
          </a>
          <ul class="secondLevel">
            <li id="nav163402" class="navGroup navElement">
              <span class="groupName">Liturgical Ministries</span>
              <ul class="secondLevel">
                <li id="nav505201" class="navPage navElement">
                  <%= link_to teaching_mass_path do %>
                    <span>Teaching Mass</span>
                  <% end %>
                </li>
                <li id="nav162139" class="navPage navElement">
                  <%= link_to altar_server_path do %>
                    <span>Altar Servers</span>
                  <% end %>
                </li>
                <li id="nav428108" class="navPage navElement">
                  <%= link_to altar_society_path do %>
                    <span>Altar Society</span>
                  <% end %>
                </li>
                <li id="nav163415" class="navPage navElement">
                  <%= link_to children_liturgy_path do %>
                    <span>Children's Liturgy</span>
                  <% end %>
                </li>
                <li id="nav162141" class="navPage navElement">
                  <%= link_to ecuharistic_ministry_path do %>
                    <span>Eucharistic Ministry</span>
                  <% end %>
                </li>
                <li id="nav161143" class="navPage navElement">
                  <%= link_to funeral_path do %>
                    <span>Funeral and Memorial Services</span>
                  <% end %>
                </li>
                <li id="nav162140" class="navPage navElement">
                  <%= link_to lector_path do %>
                    <span>Lectors</span>
                  <% end %>
                </li>
                <li id="nav162142" class="navPage navElement">
                  <%= link_to music_ministry_path do %>
                    <span>Music Ministry</span>
                  <% end %>
                </li>
                <li id="nav162753" class="navPage navElement">
                  <%= link_to ushers_hospital_path do %>
                    <span>Ushers and Hospitality Ministries</span>
                  <% end %>
                </li>
              </ul>
            </li>
            <li class="navPageGroup">
              <ul>
                <li id="nav427823" class="navPage navElement">
                  <%= link_to player_group_path do %>
                    <span>Prayer Groups</span>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="nav351" class="navPage navElement subMenu">
          <a href="#">
            <span>Sacraments</span>
          </a>
          <ul class="secondLevel">
            <li class="navPageGroup">
              <ul>
                <li id="nav161137" class="navPage navElement">
                  <%= link_to baptism_path do %>
                    <span>Baptism</span>
                  <% end %>
                </li>
                <li id="nav161142" class="navPage navElement">
                  <%= link_to reconciliation_path do %>
                    <span>Penance</span>
                  <% end %>
                </li>
                <li id="nav161135" class="navPage navElement">
                  <%= link_to eucharist_path do %>
                    <span>Eucharist</span>
                  <% end %>
                </li>
                <li id="nav161141" class="navPage navElement">
                  <%= link_to confirmation_path do %>
                    <span>Confirmation</span>
                  <% end %>
                </li>
                <li id="nav161140" class="navPage navElement">
                  <%= link_to marriage_path do %>
                    <span>Marriage</span>
                  <% end %>
                </li>
                <li id="nav161139" class="navPage navElement">
                  <%= link_to holyorders_path do %>
                    <span>Holy Orders</span>
                  <% end %>
                </li>
                <li id="nav161144" class="navPage navElement">
                  <%= link_to anointing_path do %>
                    <span>Anointing Of The Sick</span>
                  <% end %>
                </li>
                <li id="nav427169" class="navPage navElement">
                  <%= link_to sacramental_path do %>
                    <span>Sacramental Certificates</span>
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="nav355" class="navPage navElement subMenu megaMenu">
          <a href="#">
            <span>Ministries & Organizations</span>
          </a>
          <ul class="secondLevel">
            <li id="nav427949" class="navGroup navElement">
              <span class="groupName">Children</span>
              <ul class="secondLevel">
                <li id="nav427162" class="navPage navElement">
                  <a href="#">
                    <span>Children's Programs</span>
                  </a>
                </li>
                <li id="nav426425" class="navPage navElement">
                  <a href="#">
                    <span>Children Formation</span>
                  </a>
                </li>
                <li id="nav163414" class="navPage navElement">
                  <a href="#">
                    <span>Children's Bible Storytime</span>
                  </a>
                </li>
                <li id="nav427405" class="navPage navElement">
                  <a href="#">
                    <span>Children & Youth Organizations</span>
                  </a>
                </li>
              </ul>
            </li>
            <li id="nav427948" class="navGroup navElement">
              <span class="groupName">Youth</span>
              <ul class="secondLevel">
                <li id="nav427165" class="navPage navElement">
                  <a href="#">
                    <span>Youth Programs</span>
                  </a>
                </li>
                <li id="nav162979" class="navPage navElement">
                  <a href="#">
                    <span>High School Confirmation</span>
                  </a>
                </li>
                <li id="nav427765" class="navPage navElement">
                  <a href="#">
                    <span>Youth Ministry</span>
                  </a>
                </li>
                <li id="nav427946" class="navLink navElement">
                  <a href="#" target="_self">
                    <span>Children & Youth Organizations</span>
                  </a>
                </li>
                <li id="nav535680" class="navPage navElement">
                  <a href="#">
                    <span>Quinceañeras</span>
                  </a>
                </li>
              </ul>
            </li>
            <li id="nav427947" class="navGroup navElement">
              <span class="groupName">Adult</span>
              <ul class="secondLevel">
                <li id="nav427164" class="navPage navElement">
                  <a href="#">
                    <span>Adult Programs</span>
                  </a>
                </li>
                <li id="nav161122" class="navPage navElement">
                  <a href="#">
                    <span>Adult Formation</span>
                  </a>
                </li>
                <li id="nav583542" class="navPage navElement">
                  <a href="#">
                    <span>Faith Formation Videos</span>
                  </a>
                </li>
                <li id="nav427820" class="navPage navElement">
                  <a href="#">
                    <span>Adult Ministries</span>
                  </a>
                </li>
                <li id="nav427787" class="navPage navElement">
                  <a href="#">
                    <span>Adult Organizations</span>
                  </a>
                </li>
                <li id="nav427745" class="navPage navElement">
                  <a href="#">
                    <span>Social Service Outreach</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="nav161055" class="navPage navElement subMenu">
          <a href="#">
            <span>Prayer Garden</span>
          </a>
          <ul class="secondLevel">
            <li id="nav427239" class="navGroup navElement">
              <ul class="secondLevel">
                <li id="nav161127" class="navPage navElement">
                  <a href="#">
                    <span>Engraved Brick</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="nav162372" class="navPage navElement subMenu">
          <a href="#">
            <span>Donate</span>
          </a>
          <ul class="secondLevel">
            <li class="navPageGroup">
              <ul>
                <li id="nav444979" class="navLink navElement">
                  <%= link_to "Our Faith & Our Future", "https://donate.diocesepb.org/pages/dsa2021/donation-pledge-form", target: "_blank" %>
                </li>
                <li id="nav240575" class="navLink navElement">
                  <%= link_to "Donate to Parish", "https://www.parishgiving.org/payment;id=80252EA406DA072C30F2CD372EF88A5C9E4A05EC9EBD5184", target: "_blank" %>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>
