<div id="core" pageID="1" class="custom section" class="home">
  <%= render "description" %>
  <ul id="section1" class="region sectionRegion">
    <%= render "section1" %>
    <%= render "section2" %>
    <%= render "section3" %>
    <%= render "section4" %>
    <li id="section_61496">
      <div class="sectionInner rowSection oneModule fullWidthImageBackground">
        <div class="sectionBackground"></div>
        <header></header>
        <div class="sectionBody">
          <ul class="modulePosition" sectionPosition="1">
            <li id="module_2499478">
              <div class="moduleInner imageModule  hasImage focusPointImage inset">
                <header></header>
                <div class="moduleBody">
                  <div class="focusPointImageArea">
                    <div class="focusPointImagePositioner">
                      <picture class="focusPointImageContainer" data-focus-x="0.0" data-focus-y="0.0">
                        <source type='image/webp'
															srcset='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures/2020/1/grotto_02.png?t=1579180606000'
															thumbUrl='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures/2020/1/grotto_02.png?t=1579180606000'>
                        <img class="focusPointImageHolder image" alt=""
															src="https://d2y1pz2y630308.cloudfront.net/15071/pictures/2020/1/grotto_02.png"
															style="transform: scale(1);">
                      </picture>
                    </div>
                  </div>
                </div>
                <footer></footer>
              </div>
            </li>
          </ul>
        </div>
        <footer></footer>
      </div>
    </li>
  </ul>
</div>
