<%= render "admin/shared/bread_crumb", name: {title: "Create art craft group", bread_crumb: "New"} %>
<%= form_with model: @art_craft_group, url: admin_art_craft_group_index_path do |form| %>
  <section class="content">
    <div class="container-fluid">
      <%= render "admin/shared_form/form", form: form, item: @art_craft_group, title_name: "Create art craft group" %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="section-btn-group-wrap">
      <%= link_to "Back", admin_art_craft_group_index_path, class: "btn btn-info" %>
      <%= form.submit "Create", class: "btn btn-success", id: "id_submit" %>
    </div>
  </section>
<% end %>
