<%= render "admin/shared/bread_crumb", name: {title: "Edit environment church", bread_crumb: "Edit"} %>
<%= form_with model: @environment_church, url: admin_environment_church_path(@environment_church), method: :patch do |form| %>
  <section class="content">
    <div class="container-fluid">
      <%= render "admin/shared_form/form", form: form, item: @environment_church, title_name: "Update environment church" %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="section-btn-group-wrap">
      <%= link_to "Back", admin_environment_church_index_path, class: "btn btn-info" %>
      <%= form.submit "Update", class: "btn btn-success", id: "id_submit_environment_church" %>
    </div>
  </section>
<% end %>
