<%= render "admin/shared/bread_crumb", name: {title: "Edit women grace", bread_crumb: "Edit"} %>
<%= form_with model: @women_grace, url: admin_women_grace_path(@women_grace), method: :patch do |form| %>
  <section class="content">
    <div class="container-fluid">
      <%= render "admin/shared_form/form", form: form, item: @women_grace, title_name: "Update women grace" %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="section-btn-group-wrap">
      <%= link_to "Back", admin_women_grace_index_path, class: "btn btn-info" %>
      <%= form.submit "Update", class: "btn btn-success", id: "id_submit" %>
    </div>
  </section>
<% end %>
