<%= render "admin/shared/bread_crumb", name: {title: "Edit reconciliation", bread_crumb: "Edit"} %>
<%= form_with model: @reconciliation, url: admin_reconciliation_path(@reconciliation), method: :patch do |form| %>
  <section class="content">
    <div class="container-fluid">
      <%= render "admin/shared_form/form", form: form, item: @reconciliation, title_name: "Update reconciliation" %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="section-btn-group-wrap">
      <%= link_to "Back", admin_reconciliation_index_path, class: "btn btn-info" %>
      <%= form.submit "Update", class: "btn btn-success", id: "id_submit" %>
    </div>
  </section>
<% end %>
