<div id="interiorHeader">
  <h1 id="pageTitle">
    Photo Gallery
  </h1>
</div>
<div class="wrap-gallery">
  <% @category_galleries.each do |item| %>
    <div class="container-gallery">
      <% if item.enable_google_photo %>
        <%= link_to item.link_google_photo, target: "_blank", rel: "noopener" do %>
          <%= cl_image_tag(item.file_image.key, format: :jpg, title: item.name, class: "image-gallery") %>
          <div class="overlay-gallery"><%= item.name %></div>
        <% end %>
      <% else %>
        <%= link_to photo_gallery_show_path(item.id) do %>
          <%= cl_image_tag(item.photo_galleries&.first&.file_image&.key, format: :jpg, title: item.name, class: "image-gallery") %>
          <div class="overlay-gallery"><%= item.name %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
