<%= render "admin/shared/bread_crumb", name: {title: "Edit Knights of Columbus", bread_crumb: "Edit"} %>
<%= form_with model: @knight_columb, url: admin_knight_columb_path(@knight_columb), method: :patch do |form| %>
  <section class="content">
    <div class="container-fluid">
      <%= render "admin/shared_form/form", form: form, item: @knight_columb, title_name: "Update Knights of Columbus" %>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="section-btn-group-wrap">
      <%= link_to "Back", admin_knight_columb_index_path, class: "btn btn-info" %>
      <%= form.submit "Update", class: "btn btn-success", id: "id_submit" %>
    </div>
  </section>
<% end %>
