<div class="row">
  <!-- right column -->
  <div class="col-md-12">
    <!-- Form Element sizes -->
    <!-- /.card -->
    <!-- general form elements disabled -->
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">Create altar society</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <!-- text input -->
            <div class="form-group">
              <label>Name</label>
              <%= form.text_field :name, class: "form-control", placeholder: "Enter name" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="offset-sm-12">
            <div class="form-check">
              <%= form.check_box :display, class: "form-check-input" %>
              <label class="form-check-label" for="exampleCheck2">Display</label>
            </div>
          </div>
        </div>
        <% if @altar_society.is_main_article || @is_main_article.blank? %>
          <div class="form-group">
            <div class="offset-sm-12">
              <div class="form-check">
                <%= form.check_box :is_main_article, class: "form-check-input" %>
                <label class="form-check-label" for="exampleCheck2">Main article</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!-- textarea -->
              <div class="form-group">
                <label>Content</label>
                <%= form.text_area :content, class: "form-control", placeholder: "Enter name", id: "sample", size: "20x20" %>
              </div>
            </div>
          </div>
        <% end %>
        <% if !@altar_society.is_main_article || @is_main_article.blank? %>
          <div class="row">
            <div class="form-group">
              <label for="exampleInputFile">Upload image</label>
              <div class="input-group">
                <div class="custom-file">
                  <%= form.file_field :file_image, class: "custom-file-input", multiple: false, accept: 'image/*' %>
                  <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="exampleInputFile">Upload pdf</label>
              <div class="input-group">
                <div class="custom-file">
                  <%= form.file_field :file_pdf, class: "custom-file-input", multiple: false, accept: 'application/pdf,application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
                  <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!--/.col (right) -->
</div>
<script>
  var editor = SUNEDITOR.create((document.getElementById('sample') || 'sample'),{
    "katex": "window.katex",
    "videoFileInput": false,
    "tabDisable": false,
    buttonList: [
      [
        'undo', 'redo', 'blockquote', 'bold', 'underline', 'italic', 'strike',
        'subscript', 'superscript', 'preview', 'print', 'outdent', 'indent',
        'align', 'font', 'fontColor', 'fontSize', 'formatBlock',
        'hiliteColor', 'horizontalRule', 'lineHeight', 'list', 'paragraphStyle',
        'table', 'textStyle', 'audio', 'video', 'image', 'list', 'link'
      ]
    ],
  });
  
  $("#id_submit_altar_society").click(function() {
    $("#sample").val(editor.getContents());
  });
</script>
