<div id="core" pageID="249" class="empty duo" class="interior">
  <div id="interiorHeader">
    <h1 id="pageTitle">
      How can we help you?
    </h1>
  </div>
  <div id="content1" class="region moduleRegion" maxModules="10">
    <div id="module_1184536">
      <div id="onlineForm" class="formStyling moduleBody group wrap-contact" onlineFormID="39566"
        postUrl="/onlineforms/post/39566" data-checkLimitUrl="/onlineforms/checklimit/39566">
        <%= form_with url: contact_path, method: "post" do |form| %>
          <div id="onlineFormFields" class="aggregate">
            <div id="formField_168096_0" fieldID="168096" class="ofField tag    ">
              <div class="customText"><span style="font-size:16px;">Have a question or comment? Send it to us
                  directly!</span>
              </div>
            </div>
            <div id="formField_168077_0" fieldID="168077" class="ofField tag    ">
              <div class="firstLastNameField">
                <div id="fieldGroup-fieldFirst_168077_0" class="inputHolder">
                  <label class="fieldLabel" for="fieldFirst_168077_0">
                    First Name
                    <span class="required">REQUIRED</span>
                  </label>
                  <%= form.text_field :first_name, required: true %>
                  <span class="requiredErrorText">Please fill out this field.</span>
                  <span class="validateErrorText">Please enter valid data.</span>
                </div>
                <div id="fieldGroup-fieldLast_168077_0" class="inputHolder">
                  <label class="fieldLabel" for="fieldLast_168077_0">
                    Last Name
                    <span class="required">REQUIRED</span>
                  </label>
                  <%= form.text_field :last_name, required: true %>
                  <span class="requiredErrorText">Please fill out this field.</span>
                  <span class="validateErrorText">Please enter valid data.</span>
                </div>
              </div>
            </div>
            <div id="formField_168078_0" fieldID="168078" class="ofField tag    ">
              <div id="fieldGroup-field_168078_0" class="inputHolder">
                <label class="fieldLabel" for="field_168078_0">
                  Email
                  <span class="required">REQUIRED</span>
                </label>
                <%= form.text_field :email, required: true %>
                <span class="requiredErrorText">Please fill out this field.</span>
                <span class="validateErrorText">Please enter an email address.</span>
              </div>
            </div>
            <div id="formField_168079_0" fieldID="168079" class="ofField tag    ">
              <div id="fieldGroup-field_168079_0" class="inputHolder">
                <label class="fieldLabel" for="field_168079_0">
                  Phone Number
                  <span class="required">REQUIRED</span>
                </label>
                <%= form.text_field :phone, required: true, placeholder: "555-555-5555", maxlength: 13 %>
                <span class="requiredErrorText">Please fill out this field.</span>
                <span class="validateErrorText">Please enter a phone number.</span>
              </div>
            </div>
            <div id="formField_168081_0" fieldID="168081" class="ofField tag    ">
              <div id="fieldGroup-field_168081_0" class="inputHolder">
                <label class="fieldLabel" for="field_168081_0">
                  Subject
                </label>
                <%= form.text_field :subject, required: true %>
                <span class="validateErrorText">Please enter valid data.</span>
              </div>
            </div>
            <div id="formField_168082_0" fieldID="168082" class="ofField tag    ">
              <div id="fieldGroup-field_168082_0" class="inputHolder">
                <label class="fieldLabel" for="field_168082_0">
                  Comment or Question
                </label>
                <%= form.text_area :content, row: 10, placeholder: "Type your question, comment, or concern here." %>
              </div>
            </div>
          </div>
          <%= form.submit "Submit", class: "submitForm normalSubmit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
