<%= render "admin/shared/bread_crumb", name: {title: "User", bread_crumb: "Top"} %>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Manage user</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Sex</th>
                  <th>User Type</th>
                  <th>Updated at</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= image_tag user&.logo_icon.present? ? user.logo_icon : "no_available.png", class: "admin-logo-icon" %></td>
                    <td><%= full_name(user&.first_name, user&.last_name) %></td>
                    <td><%= user&.email || "-"  %></td>
                    <td><%= user&.sex || "-"  %></td>
                    <td><%= user&.year_old || "-"  %></td>
                    <td><%= user&.updated_at || "-"  %></td>
                    <td>
                      <% if user.present? %>
                        <%= link_to "Show", admin_user_path(user), class: "btn btn-success" %>
                        <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-success" %>
                        <%= link_to "Delete", admin_user_path(user), method: :delete, class: "btn btn-danger" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<section class="section-btn-group">
  <div class="section-btn-group-wrap">
    <%= link_to "Create", new_admin_user_path, class: "btn btn-info" %>
  </div>
</section>
