<!DOCTYPE html>
<html>
  <head>
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="" />

    <meta property="fb:app_id" content="187131075036737" />
    <meta property="og:site_name" content="St. Matthew Catholic Church" />
    <meta property="og:title" content="St. Matthew Catholic Church" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
