<!DOCTYPE html>
<html>
  <head>
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="" />
    <meta property="fb:app_id" content="187131075036737" />
    <meta property="og:site_name" content="St. Matthew Catholic Church" />
    <meta property="og:title" content="St. Matthew Catholic Church" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
      <!-- Preloader -->
      <!-- Navbar -->
      <%= render "admin/shared/navbar" %>
      <!-- /.navbar -->
      <!-- Main Sidebar Container -->
      <%= render "admin/shared/main_sidebar" %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <!-- Control Sidebar -->
      <%= render "admin/shared/control_sidebar" %>
      <!-- Main Footer -->
      <%= render "admin/shared/footer" %>
    </div>
  </body>
</html>
